body {
  background-color: #3a485b;
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  margin-top: 75px;
  margin-left: 30px;
  background-color: none;
  padding: 2px;
  text-align: center;
}
span{
  color: #61a1f6;
}
p{
  position: fixed;
  margin-top: 35px;
  margin-left: 5px;
  margin-right: 80px;
  background-color: none;
  padding: 0px;
  text-align: left;
  color: #73D0FF;
}
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button {
  border: none;
  background: none;
  display: block;
  width: 85px;
  height: 25px;
  color: #FFD173;
  text-align: left;
  line-height: 35px;
  margin-bottom: 10px;
  text-decoration: none;
}

.container{
  width: 100%;
  height: 100%;
  color: #bdc09a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1{
  font-size: 80px;
  font-weight: 600;
}
